@charset "UTF-8";
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
@import '//fonts.googleapis.com/css?family=Open+Sans:400,300,700';
@import '//fonts.googleapis.com/css?family=Montserrat';
@import '//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css';
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
 * Returns a number without unit. E.g. 30px -> 30
 * Borrowed from https://github.com/zurb/foundation/blob/master/scss/foundation/_functions.scss
 *
 * @param value {String}
 * @returns
 *   <Number>
 */
@-webkit-keyframes anim-arrow {
  0% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); }
  50% {
    -webkit-transform: translateX(20%);
    -ms-transform: translateX(20%);
    -moz-transform: translateX(20%);
    -o-transform: translateX(20%);
    transform: translateX(20%); }
  100% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); } }
@-moz-keyframes anim-arrow {
  0% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); }
  50% {
    -webkit-transform: translateX(20%);
    -ms-transform: translateX(20%);
    -moz-transform: translateX(20%);
    -o-transform: translateX(20%);
    transform: translateX(20%); }
  100% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); } }
@-ms-keyframes anim-arrow {
  0% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); }
  50% {
    -webkit-transform: translateX(20%);
    -ms-transform: translateX(20%);
    -moz-transform: translateX(20%);
    -o-transform: translateX(20%);
    transform: translateX(20%); }
  100% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); } }
@keyframes anim-arrow {
  0% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); }
  50% {
    -webkit-transform: translateX(20%);
    -ms-transform: translateX(20%);
    -moz-transform: translateX(20%);
    -o-transform: translateX(20%);
    transform: translateX(20%); }
  100% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); } }
@-webkit-keyframes anim-float {
  0% {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%); }
  50% {
    -webkit-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -o-transform: translateY(20%);
    transform: translateY(20%); }
  100% {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%); } }
@-moz-keyframes anim-float {
  0% {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%); }
  50% {
    -webkit-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -o-transform: translateY(20%);
    transform: translateY(20%); }
  100% {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%); } }
@-ms-keyframes anim-float {
  0% {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%); }
  50% {
    -webkit-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -o-transform: translateY(20%);
    transform: translateY(20%); }
  100% {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%); } }
@keyframes anim-float {
  0% {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%); }
  50% {
    -webkit-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -o-transform: translateY(20%);
    transform: translateY(20%); }
  100% {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%); } }
@-webkit-keyframes anim-scale {
  0% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
  50% {
    -webkit-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2); }
  100% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); } }
@-moz-keyframes anim-scale {
  0% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
  50% {
    -webkit-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2); }
  100% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); } }
@-ms-keyframes anim-scale {
  0% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
  50% {
    -webkit-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2); }
  100% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); } }
@keyframes anim-scale {
  0% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
  50% {
    -webkit-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2); }
  100% {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); } }
@-webkit-keyframes anim-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes anim-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-ms-keyframes anim-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes anim-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
.mt0 {
  margin-top: 0px; }

.mt10 {
  margin-top: 10px; }

.mt20 {
  margin-top: 20px; }

.mt30 {
  margin-top: 30px; }

.mt40 {
  margin-top: 40px; }

.mt50 {
  margin-top: 50px; }

.mt60 {
  margin-top: 60px; }

.mt70 {
  margin-top: 70px; }

.mt80 {
  margin-top: 80px; }

.mt90 {
  margin-top: 90px; }

.mt100 {
  margin-top: 100px; }

.mb0 {
  margin-bottom: 0px; }

.mb10 {
  margin-bottom: 10px; }

.mb20 {
  margin-bottom: 20px; }

.mb30 {
  margin-bottom: 30px; }

.mb40 {
  margin-bottom: 40px; }

.mb50 {
  margin-bottom: 50px; }

.mb60 {
  margin-bottom: 60px; }

.mb70 {
  margin-bottom: 70px; }

.mb80 {
  margin-bottom: 80px; }

.mb90 {
  margin-bottom: 90px; }

.mb100 {
  margin-bottom: 100px; }
.c {
  clear: both; }
::-webkit-selection {
  color: #111;
  background: #fdfdc1; }

::-moz-selection {
  color: #111;
  background: #fdfdc1; }

::-ms-selection {
  color: #111;
  background: #fdfdc1; }

::-o-selection {
  color: #111;
  background: #fdfdc1; }

::selection {
  color: #111;
  background: #fdfdc1; }

.info {
  padding-bottom: 20px; }
  .info h2 {
    font-family: "Open Sans", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
    font-size: 26px;
    font-weight: normal;
    line-height: normal; }
    .info h2 a {
      color: #222; }
  .info p {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-family: "Open Sans", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    margin-top: 10px; }
  .info ul {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-top: 10px; }
    .info ul li {
      font-family: "Open Sans", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
      font-size: 12px;
      font-weight: normal;
      line-height: normal;
      position: relative; }
      .info ul li:before {
        display: -moz-inline-box;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-indent: 0;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "";
        font-size: 1em;
        margin-right: 0.4em; }

.container {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  min-width: 400px;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px; }
  @media (min-width: 640px) and (max-width: 980px) {
    .container {
      width: auto;
      min-width: 0; } }
  @media (max-width: 640px) {
    .container {
      width: auto;
      min-width: 0; } }
  .container__inner {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 400px;
    margin: 0 auto;
    text-align: left; }
    @media (min-width: 640px) and (max-width: 980px) {
      .container__inner {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px; } }
    @media (max-width: 640px) {
      .container__inner {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px; } }
  .container:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 640px) and (max-width: 980px) {
    .container {
      padding-top: 30px; } }
  @media (max-width: 640px) {
    .container {
      padding-top: 20px; } }

.table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #eee;
  margin-top: 20px; }
  .table th {
    font-weight: bold; }
  .table th, .table td {
    padding: 5px 10px; }
  .table thead tr th, .table thead tr td {
    border: 1px solid #eee;
    border-bottom: 2px solid #eee; }
  .table tbody tr:first-child th, .table tbody tr:first-child td {
    border-top: none; }
  .table tbody th {
    border: 1px solid #eee;
    border-bottom: 2px solid #eee; }
  .table tbody td {
    border: 1px solid #eee; }
  .table th {
    position: relative;
    cursor: pointer; }
    .table th:before {
      display: -moz-inline-box;
      display: inline-block;
      *display: inline;
      *zoom: 1;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-indent: 0;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "";
      font-size: 1em;
      margin-right: 0.4em; }
  .table tr td {
    font-family: "Open Sans", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: normal; }
    .table tr td:last-child {
      font-family: "Montserrat", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
      font-size: 22px;
      font-weight: normal;
      line-height: normal;
      text-align: center; }

.foot {
  text-align: center; }
  .foot li {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-left: 5px;
    margin-right: 5px; }
  .foot a {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-family: "Open Sans", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    text-decoration: none;
    margin-top: 20px;
    color: #222; }
    .foot a.is-question {
      position: relative; }
      .foot a.is-question:before {
        display: -moz-inline-box;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-indent: 0;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "";
        font-size: 1em;
        margin-right: 0.4em; }
    .foot a.is-twitter {
      position: relative; }
      .foot a.is-twitter:before {
        display: -moz-inline-box;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-indent: 0;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "";
        font-size: 1em;
        margin-right: 0.4em; }

/*# sourceMappingURL=styles.css.map */
